@charset "utf-8";
/************************************************************************************
RESET
*************************************************************************************/
html,body{width: 100%;height: 100%;}
body{
	overflow-x: hidden;
	background-color: #fff;
}


.head_top{
	position: fixed;
	z-index: 1001;
	height: 110px;
	width: 100%;
    background: rgba(254, 254, 254, 1);
}
.head_top .head_nav{
	max-width: 1240px;
	min-width: 1100px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
.head_top .head_nav .head_logo{
	margin-right: 80px;
}
.head_top .head_logo .logo{
	margin-top: 31px;
}
.head_top .head_nav .head_ul{
	flex: 1;
	line-height: 110px;
}
.head_ul li.active a{
	color: #aacc36;
}
.head_ul li a{
	font-size: 18px;
	color: #222;
}
.head_nav .head_ul li{float: left;}
.head_nav .head_ul li:not(:last-child){
	margin-right: 80px;
}
.head_app{
	display: flex;
}
.head_app a{
	display: flex;
    justify-content: center;
    align-items: center;
}
.head_app .app_img{
	vertical-align: middle;
}
.head_app .app_txt{
}

/*main_body*/
.main_body{
	min-height: 100%;
	box-sizing: border-box;
	padding: 110px 0 150px 0;
}
.main_body .common_list{
	position: relative;
	width: 100%;
}

.main_body .common_middel{
	max-width: 1240px;
	width: 100%;
	height: 100%;
	margin:0 auto;
	overflow: hidden;
}

/*首页*/
/*banner*/
.swiper-container .swiper-pagination-bullet{
	width: 10px;
	height: 10px;
    background: rgba(255,255,255,1);
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active{
	width: 10px;
	height: 10px;
    background: rgba(180,229,12,1);
}

.main_body .common_list.common_list1{
	background: url('../images/img1.png')no-repeat;
	background-size: 100% 100%;
	height: 40vw;
}
.main_body .common_list.common_list2{
	background: url('../images/pic2.png')no-repeat right 119%;
	background-size: 45%;
	height: 30vw;
}
.index_mask{
	position: absolute;
	color: #b4e50c;
	padding: 30px 20px;
}
.index_mask .big{
    font-size: 4.8em;
	line-height: 1.4em;
}

.index_mask .small{
	font-size: 1.6em;
}

@media (max-width: 1200px){
	.index_mask,.index_span,.class_title,.food_list,.d_middel,.common_change{
		font-size: 10px;
	}
	.dy_date .d_l .small{
		margin-bottom: 0.2em
	}

}
@media (max-width: 999px){
	.index_mask,.index_span,.class_title,.food_list,.d_middel,.common_change{
		font-size: 8px;
	}
	.common_middel .index_us .title_small{
		margin-bottom: 1em;
	}
	.common_middel .index_us .content2{
			margin-top: 1em;
	}


}
@media (max-width: 600px){
	.index_mask,.index_span,.class_title,.food_list,.d_middel,.common_change{
		font-size: 4px;
	}

}
.index_us .index_span{
    display: table-cell;
    vertical-align: middle;
}

.common_middel .index_us{
	width: 40%;
    height: 100%;
    display: table;
}
.index_us > span{
	display: table-cell;
	vertical-align: middle;
}
.common_middel .index_us .title{
    font-size: 3.2em;
	color: #333333;
}
.index_us .title_small{
	color: #333;
	font-size: 1.6em;
    margin-bottom: 1.5em; 
}
.index_us .content{
	font-size: 1.3em;
	color: #616161;
    line-height: 1.8em; 
}
.index_us .content2{
	margin-top: 1.5em;
}

/*第三块*/
.common_list3{
	min-height: 3vw;
	height: auto;
}
.class_title{
	text-align: center;
    margin: 100px 0 40px 0;
}
.class_title .class_center{
    display: inline-block;
    text-align: left;
}
.class_title .big{
	font-size: 3.2em;
	color: #222222;
}
.class_title .small{
	font-size: 1.6em;
	color: #808080;
}
.food_list{
	float: left;
	width: 31%;
	position: relative;
	box-sizing: border-box;
    margin-bottom: 3%;
    overflow: hidden;
    cursor: pointer;
}
.food_list:not(:nth-child(3n)){
	margin-right: 3%;
}
.food_list .food_mask{
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	height: 16%;
	font-size: 2.4em;
	color: #fff;
    padding-left: 20px;
	background: rgba(10,14,0,0.2);
    display: none;
    align-items: center;
}
.food_list img{max-width: 100%;width: 100%;}
/*第四块*/
.common_list4 .our_img{
	text-align: center;
}
.common_list4 .our_img img{
	max-width: 100%;
}
/*第五块*/
.common_list5{
	background: url('../images/f_pic9.png') no-repeat;
    background-size: 100% 100%;
    height: 43vw;
    overflow: hidden;
}
.common_list5 .map_img{
	max-width: 100%;
	width: 90%;
}
.common_list5 .common_middel {
	display: table;
}
.common_list5 .map_span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

@media (max-width: 1240px){
	.common_list5 .map_img{
		max-width: 80%;
		width: 80%;
	}

}
/*公司动态*/
.dy_switch{margin-top: 120px;margin-bottom: 67px;}
.dy_switch .dy_switch_ul{}
.dy_switch .dy_switch_ul li{float: left;font-size: 0;position: relative;margin-right: 33px;}
.dy_switch .dy_switch_ul .dy_txt{display: inline-block;min-width: 143px;height: 44px;line-height: 44px;font-size: 24px;color: #ffffff;background-color: #cbdb95;padding-left: 12px;}
.dy_switch .dy_switch_ul .dy_i{
	position: absolute;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 14px solid #cbdb95;
    border-bottom: 22px solid transparent;
}
.dy_switch .dy_switch_ul .active .dy_txt{
	background-color: #aacc36;
}
.dy_switch .dy_switch_ul .active .dy_i{border-left: 14px solid #aacc36;}
.dy_lists{}
.dy_lists .dy_list{margin-bottom: 114px;}
.dy_lists .dy_list a{display: flex;}
.dy_list .dy_l{font-size: 0;}
.dy_list .dy_img{max-width: 427px;max-height: 280px;width: 34%;height: 22%;}
.dy_list .dy_r{flex: 1;display: flex;}
.dy_r .dy_content{display: table;height: 100%;padding-left: 56px;}
.dy_r .dy_content>span{display: table-cell;vertical-align: middle;}
.dy_r .dy_content .title{font-size: 20px;color: #222222;font-weight: 600;margin-bottom: 14px;}
.dy_r .dy_content .source{font-size: 14px;color: #6a6a6a;margin-bottom: 35px;}
.dy_r .dy_content .content{font-size: 16px;color: #8a8a8a;}

/*分页*/
.page_span{text-align: center;}
.page_span .page_prev{display: inline-block;width: 40px;height: 40px;background: url(../images/page_prev.png)no-repeat;background-size: 100%;vertical-align: middle;}
.page_span .page_next{display: inline-block;width: 40px;height: 40px;background: url(../images/page_next.png)no-repeat;background-size: 100%;vertical-align: middle;}
.page_span .page_middel{}
.page_span .page_middel a{color: #333333;padding: 0 30px;}
.page_span .page_middel a:not(:last-child){border-right: 1px solid #333333;}

/*公司动态详情*/
.company_top{font-size: 0;}
.company_top .sy_img{
	max-width: 100%;
}
.company_con .dy_date{display: flex;margin-top: 98px;}
.dy_date .d_l{display: table;width: 12.5vw;height: 12.5vw;box-sizing: border-box;background-color: #aacc36;color: #fff;}
.dy_date .d_l .d_middel{display: table-cell;vertical-align: middle;text-align: center;}
.dy_date .d_l .small{font-size: 3.2em;margin-bottom: 0.6em;}
.dy_date .d_l .big{font-size: 4.8em;}
.dy_date .d_r{flex: 1;}

.d_r .d_title_con{display: table;width: 100%;height: 100%;}
.d_r .d_title_con > span{display: table-cell;vertical-align: middle;padding-left: 20px;}
.d_r .d_title_con .d_title{font-size: 3.2em;color: #333333;margin-bottom: 0.5em;}
.d_r .d_title_con .d_source{font-size: 1.4em;color: #929292;}

.dy_contents{margin-top: 126px;}
.dy_contents img{max-width: 100%;}

.dy_jump{text-align: center;margin-top: 120px;font-size: 18px;color: #616161;}
.dy_jump span:nth-child(2){margin-left: 60px;}
.dy_jump .jump_a{color: #aacc36;}

/*关于我们*/
.about_2 img{max-width: 100%;}
.all_middel{position: absolute;max-width: 1240px;left: 0;right: 0;margin: 0 auto;top: 0;height: 100%;width: 100%;overflow: hidden;}
.about_2 .a_content{width: 50%;float: right;height: 100%;display: table;margin-right: 10%;}
.a_content .a_middel{display: table-cell;vertical-align: middle;color: #fff;}
.a_content .a_middel .title{font-size: 3.2em;}
.a_content .a_middel .subtitle{font-size: 1.6em;line-height: 1.8em;margin-bottom: 1em;}
.a_content .a_middel .content{font-size: 1.7em;line-height: 1.8em;}

.about_3 .list_top{position: relative;width: 100%;height: 238px;}
.about_3 .list_top .img{max-width: 100%;width: 100%;height: 100%;}
.about_3 .list_top .i_ticket{position: absolute;display: inline-block;font-size: 22px;color: #fff;bottom: 0;left: 50%;transform: translate(-50%,50%);
	background-color: #aacc36;padding: 10px 26px;border-radius: 6px;z-index: 2;
}
.about_3 .food_list{box-shadow:0px 0px 5px 3px #f3f2f2;}
.about_3 .height_m{height: 6.6vw;}
.about_3 .list_content{padding: 0 10px 10px 32px;height: 270px;}
.about_3 .list_content .subtitle{font-size: 12px;color: #8a8a8a;margin-bottom: 36px;}
.about_3 .list_content .con{font-size: 16px;color: #222222;line-height: 26px;}
.main_body .about_3 .common_middel{overflow: inherit;}

.about_4{}
.about_4 img{max-width: 100%;}
.about_4 .tic_list{margin-top: 2.7vw;}
.about_4 .tic_list span{color: #fff;background-color: #aacc36;font-size: 1.8em;border-radius: 4px;display: inline-block;width: 6.1em;text-align: center;padding: 0.37em 0; margin: 0 1.2em 1.2em 0;}
.about_4 .content{width: 60%;margin-top: 4%;margin-left: 8vw;}
.about_4 .content p{font-size: 1.3em;color: #000000;line-height: 28px;}


/*联系我们*/
.contact_us{}
.contact_us .l_form{width: 60%;float: left;} 
.contact_us .r_contact{width: 40%;float: right;}

.contact_us .title{font-size: 30px;margin-bottom: 25px;}
.contact_us .form_groud{position: relative;width: 90%;background-color: #f6faf9;height: 62px;line-height: 62px;padding-left: 40px;margin-bottom: 13px;}
.contact_us .label{font-size: 12px;color: #222222;position: absolute;line-height: 62px;}
.contact_us .form_input{background-color: #f6faf9;outline: none;width: 85%;border: none;padding-left: 50px;}
.contact_us .form_groud2{height: 200px;}
.contact_us .form_textarea{height: 100%;width: 85%;padding-top: 22px;
    box-sizing: border-box;
    padding-left: 50px;border: none;outline: none;background-color: #f6faf9;}
.contact_us .form_btn{margin-top: 34px;}
.contact_us .form_btn a{display: inline-block;color: #fff;background-color: #aacc36;height: 62px;width: 206px;text-align: center;line-height: 62px;font-size: 18px;border-radius: 4px;}

.r_contact .con_info{background-color: #231c24;width: 100%;height: 412px;display: table;}
.r_contact .con_info .con_span{display: table-cell;height: 100%;vertical-align: middle;text-align: center;}
.r_contact .con_info .info{clear: both; margin-bottom: 5%;padding-left: 10%;}
.r_contact .con_info .big{font-size: 16px;color: #fff;margin:10px 0 10px 24px;}
.r_contact .con_info .small{font-size: 12px;color: #fff;margin-left:24px;}

.con_map{height: 478px;width: 100%;border: 1px solid #ccc;box-sizing: border-box;}


/*产品选购*/
.buy_titile{font-size: 24px;color: #000000;text-align: center;font-weight: normal;margin: 90px 0 60px 0;}
.buy_search{min-width: 1240px;}
.buy_search .search_50{width: 50%;float: left;box-sizing:border-box;}
.buy_search .search_input{float: right;width: 450px;height: 60px;box-sizing: border-box;border: 2px solid #f8f8f8;position: relative;}
.buy_search .search_input .search_btn{position: absolute;right: 0;cursor: pointer;width: 60px;height: 60px;background: url(../images/search_buy.png)no-repeat;background-size: 100% 100%;}
.buy_search .search_input .search_con{width: 386px;box-sizing: border-box;height: 56px;border: none;outline: none;}
.buy_search .search_oper{}
.search_oper .shop_cart{position: relative;margin-right: 5px;cursor: pointer;}
.search_oper .shop_cart .shop_num{position: absolute;right: -5px;top: -5px;width: 22px;height: 22px;line-height: 22px;border-radius: 100%;background-color: #333333;font-size: 12px;color: #fff;text-align: center;}
.search_oper .oper_list{margin:7px 70px 0 0;}
.search_oper .oper_list li{float: left;}
.search_oper .oper_list li:not(last-child){margin-right: 38px;}
.search_oper .oper_list a{font-size: 16px;color: #333;}

.ticket_menu{margin: 58px 0 70px 0;}
.ticket_menu li{float: left;margin-right: 65px;}
.ticket_menu li:nth-child(8n){margin-right: 0;}
.ticket_menu li a{font-size: 18px;color: #333;display: inline-block;width: 98px;height: 40px;text-align: center;line-height: 40px;border-radius: 4px;}
.ticket_menu li.active a{color: #fff;background-color: #aacc36;}

.line_e9{height: 1px;background-color: #e9e9e9;}

.common_list.buy_box{min-width: 1440px;}
.main_body .common_middel.buy_middel{overflow: initial;position: relative;}
.buy_lists{margin:70px 0 150px 0;position: relative;}
.buy_middel .buy_prev{position: absolute;width: 53px;height: 53px;background: url(../images/buy_prev.png) no-repeat;background-size: 100% 100%;left: -80px;
    top: 364px;}
.buy_middel .buy_next{position: absolute;width: 53px;height: 53px;background: url(../images/buy_next.png) no-repeat;background-size: 100% 100%;right: -80px;
    top: 364px;}
.buy_lists .list{width: 23%;position: relative;float: left;margin-right: 2.6%;}
.buy_lists .list:hover .top .add{display: block;}
.buy_lists .list:nth-child(4n){margin-right: 0;}
.list .icon_new{position: absolute;width: 42px;height: 42px;background: url(../images/icon_new.png)no-repeat;background-size: 100% 100%;z-index: 3;    top: -8px;
    left: -4px;}
.buy_lists .list .top{position: relative;width: 100%;height: 330px;box-sizing: border-box;background-color: #f8f8f8;text-align: center;}
.buy_lists .list .top .img{max-width: 100%;max-height: 250px;}
.buy_lists .list .top .add{display: none;position: absolute;width: 146px;height: 40px;line-height: 40px;text-align: center;bottom: 46px;
    left: 50%;
    margin-left: -78px;
	background-color: #aacc36;
	color: #fff;
	border-radius: 14px;
	font-size: 16px;
}
.buy_lists .list .bottom{line-height: 28px;padding: 22px 0;background-color: #fff;}
.buy_lists .list .bottom .green{font-size: 16px;color: #aacc36;font-family: 'Microsoft Sans Serif';}
.buy_lists .list .bottom .black{font-size: 16px;color: #000;}

.buy_service{background-color: #9fcb30;margin-top: 140px;}
.buy_service .ser_list{width: 25%;float: left;margin: 40px 0;}
.buy_service .ser_list .ser_t1{font-size: 16px;color: #fff;margin: 10px 0;padding-left: 17px;}
.buy_service .ser_list .ser_t2{font-size: 12px;color: #082700;padding-left: 17px;}

.main_body .common_middel.variety{text-align: center;border-top: 1px solid #edebeb;border-bottom: 1px solid #edebeb; margin-top: 38px;padding: 10px 0;min-width: 900px;}
.variety .variety_tragger{display: inline-block;}
.v_logo,.v_code{margin-right: 50px;float: left;}
.v_logo .v_phones{margin-left: 50px;}
.v_logo .phone1{font-size: 18px;color: #ff900d;padding-left: 13px;}
.v_logo .phone2{font-size: 14px;color: #929292;}
.v_code .txt{font-size: 12px;color: #8a8a8a;text-align: center;}
.v_ser{margin-right: 22px;float: left;}
.v_ser .title{font-size: 14px;color: #333333;margin-bottom: 10px;}
.v_ser .v_link{line-height: 20px;}
.v_ser .v_link a{font-size: 12px;color: #929292;}


/*产品详情*/
.main_body2{padding-top:0;}
.main_noh{padding: 53px 0 0 0;background-color: #fff;}
.main_noh .common_middel{padding-top: 5px;max-width: 1240px;margin: 0 auto;}
.main_body .buy_detail{display: flex;margin: 57px auto 100px auto;min-width: 990px;}
.buy_detail .buy_l{width: 466px;background-color: #fff;}
.buy_detail .buy_l .buy_show{width: 466px;height: 466px;box-sizing: border-box;display: flex;justify-content: center;align-items: center;}
.buy_detail .buy_l .buy_show_small{width: 466px;overflow-x: hidden;background-color: #f8f8f8;}
.buy_l .buy_show_small .show_small_box{float: left;width: 32%;display: flex;justify-content: center;align-items: center;background-color: #fff;margin-top: 24px;}
.buy_l .buy_show_small .show_small_box:not(:last-child){margin-right: 2%;}
.buy_l .buy_show img{max-width: 100%;max-height: 100%;}
.buy_detail .buy_r{flex: 1;padding-left: 34px;}
.buy_r .title{font-size: 24px;color: #333333;line-height: 80px;}
.buy_r .buy_price{background-color: #fff;padding: 24px 12px 52px 13px;margin-bottom: 22px;}
.buy_r .buy_price .small_g{font-size: 14px;color: #8a8a8a;}
.buy_r .buy_price .small_y{font-size: 14px;color: #ff900d;}
.buy_r .buy_price .big{font-size: 24px;color: #ff900d;}
.buy_r .support{margin-bottom: 22px;}
.buy_r .support li{line-height: 20px;}
.buy_r .support .icon_point{display: inline-block;width: 16px;height: 16px;background: url(../images/icon_support.png)no-repeat;background-size: 100% 100%;vertical-align: text-top;margin-right: 3px;}
.buy_r .support .s_txt{font-size: 12px;color: #8a8a8a;}
.buy_r .buy_nums{margin-bottom: 46px;}
.buy_r .buy_nums .num_oper{display: inline-block; font-size: 0;margin: 0 13px 0 40px;}
.buy_r .buy_nums .num_g{font-size: 16px;color: #929292;}
.buy_r .buy_nums .num_como{display: inline-block;width: 55px;height: 40px;vertical-align: top;}
.buy_r .buy_nums .num_sub{background: url(../images/icon_sub.png)no-repeat center center;background-size: 100%;}
.buy_r .buy_nums .num_txt{display: inline-block;width: 70px;height: 40px;line-height: 40px;background-color: #fff;font-size: 16px;color: #333333;text-align: center;}
.buy_r .buy_nums .num_add{background: url(../images/icon_add.png)no-repeat center center;background-size: 100%;}
.buy_r .buy_nums .num_gre{font-size: 16px;color: #aacc36;}
.buy_btn{font-size: 0;}
.buy_btn_p{margin:0 0 25px 76px ;}
.buy_btn .btn{display: inline-block;width: 180px;height: 48px;line-height: 48px;text-align: center;font-size: 18px;}
.buy_btn .btn:not(:last-child){margin-right: 28px;}
.buy_btn .btn_origin{background-color: #ff900d;color: #fff;}
.buy_btn .btn_green{background-color: #aacc36;color: #fff;}
.buy_origin{border-top: 1px solid #8a8a8a;padding-top: 24px;}
.buy_origin .o_txt1{font-size: 12px;color: #8a8a8a;}
.buy_origin .o_txt2{font-size: 12px;color: #222222;}

/*滚动的商品*/
.main_body .buy_sliding{background-color: #fff;padding-bottom: 20px;margin-bottom: 50px;min-width: 1011px;}
.buy_sliding .slid_t_box{text-align: center; margin: 25px 0;}
.buy_sliding .slid_t_title{font-size: 24px;color: #333333;padding: 0 18px;}
.buy_sliding .slid_t_line{display: inline-block;width: 77px;height: 2px;background-color: #aacc36;vertical-align: super;}
.slid_container{}
.slid_container .slid_img_box{width: 156px;height: 156px;border: 1px solid #f6f6f6;box-sizing: border-box;display: table;margin: 0 auto;}
.slid_container .slid_img_box>span{display: table-cell;vertical-align: middle;text-align: center;}
.slid_container .slid_mon_box{padding: 14px;}
.slid_container .slid_mon_box .name{font-size: 14px;color: #333333; margin-bottom: 14px;}
.slid_container .slid_mon_box .small{font-size: 12px;color: #ff900d;}
.slid_container .slid_mon_box .big{font-size: 16px;color: #ff900d;}
.slid_container .slid_mon_box .add_icon{display: inline-block;width: 23px;height: 23px;background: url(../images/puls.png)no-repeat;background-size: 100%;vertical-align: top;margin-left: 30px;}

/*详情展示*/
.buy_detail_show{}
.buy_detail_show .buy_detail_box,.buy_detail_show .buy_detail_img{max-width: 960px;margin: 0 auto;background-color: #fff;}
.buy_detail_show .buy_detail_box .buy_detail_tab{}
.buy_detail_show .buy_detail_tab li{float: left;padding: 20px 33px;}
.buy_detail_show .buy_detail_tab .tab_name{font-size: 16px;color: #333333;}
.buy_detail_show .buy_detail_tab li.active{border-bottom: 2px solid #aacc36;}
.buy_detail_show .table{display: block;margin: 0 18px;border: 1px solid #f6f6f6;}
.buy_detail_show .table thead,.buy_detail_show .table tbody,.buy_detail_show .table tr{width: 100%;display: block;}
.buy_detail_show .table thead tr,.buy_detail_show .table tbody tr{display: flex;border-bottom: 1px solid #f6f6f6;}
.buy_detail_show .table thead th,.buy_detail_show .table tbody td{font-size: 16px;color: #333333;font-weight: normal;text-align: left;padding: 12px 0 12px 10px;}
.buy_detail_show .table thead tr th:nth-child(1),.buy_detail_show .table tbody tr td:nth-child(1){width: 87px;border-right: 1px solid #f6f6f6;}
.buy_detail_show .table thead tr th:nth-child(2),.buy_detail_show .table tbody tr td:nth-child(2){flex: 1;}
.buy_detail_show .buy_detail_img{padding: 32px 20px;}
.buy_detail_show .buy_detail_img img{max-width: 100%;}

/*填写订单信息 order2*/
.head_order_div{flex: 1;}
.head_order{margin-top: 15px;float: right;position: relative;right: -65px;}
.head_order li{float: left;}
.head_order .step_box{display: inline-block;text-align: center;width: 220px;}
.head_order .step_n{position: relative;display: inline-block;width: 46px;height: 46px;line-height: 46px;border-radius: 100%;background-color: #acacac;text-align: center;font-size: 18px;color: #fff;}
.head_order .step_n .icon_triangle{position: absolute;left: 0;width: 0;height: 0;border-top: 20px solid #acacac;border-right: 20px solid transparent;}
.head_order .step_name{font-size: 14px;color: #333333;margin-bottom: 7px;}
.head_order li:not(:last-child):after{display: inline-block;content: '';width: 120%;height: 5px;background-color: #acacac;position: relative;left: 87px;top: -33px;z-index: -1; }
.head_order li.active .step_name{color: #aacc36;}
.head_order li.active .step_n,.head_order li.active:after{background-color: #aacc36;}
.head_order li.active .icon_triangle{border-top: 20px solid #aacc36;}
/*填写订单*/
.order_body .common_list{margin-top: 70px;}
.order_title{margin-bottom: 18px;font-size: 20px;color: #8a8a8a;font-weight: normal;background: url(../images/card.png) no-repeat left center;background-size: 48px 48px;padding-left: 54px;}
.order_form{background-color: #fff;border: 1px solid #e9e9e9;}
.order_form .order_ground{padding: 35px 37px;border-bottom: 1px solid #f8f8f8;}
.order_form .order_ground .subtitle{font-size: 20px;color: #aacc36;margin-bottom: 17px;}
.order_form .order_ground .addr_ul{font-size: 0;}
.order_ground .addr_ul li{margin-bottom: 10px;}
.order_ground .addr_ul a{position: relative;font-size: 14px;color: #333;display: inline-block;padding: 10px 15px;background-color: #eef1e4;    box-sizing: border-box;
    overflow: hidden;border: 1px solid #eef1e4;}
.order_ground .addr_ul .addr_check{display: none;position: absolute;right: -2px;top: 20px;width: 17px;height: 21px;background: url(../images/order_check.png) no-repeat;background-size: 100% 100%;}
.addr_ul li.active a{border: 1px solid #aacc36;}
.addr_ul li.active .addr_check{display: inline-block;}
.order_form .order_ground .addr_new a{font-size: 14px;color: #aacc36;}
.order_type{}
.order_type .order_type_span{position: relative;margin-right: 80px;}
.order_type .order_type_span .order_r{position: absolute;opacity: 0;}
.order_type .order_type_span .order_r:checked+.order_l{background: url(../images/check_yes.png)no-repeat left center;background-size: 17px 17px;color: #aacc36;}
.order_type .order_type_span .order_l{font-size: 14px;color: #8a8a8a;padding-left: 30px;background: url(../images/check_no.png)no-repeat left center;background-size: 17px 17px;cursor:pointer;}

.table_list{width: 100%;}
.table_list thead{background-color: #eaeaea;color: #333333;font-size: 14px;}
.table_list thead tr{}
.table_list thead tr th{padding: 19px 0;}
.table_list tbody{}
.table_list tbody tr td{padding: 16px 37px;font-size: 16px;color: #333333;}
.table_list tbody tr td:not(:first-child){text-align: center;font-size: 14px;}
.table_list .table_img{width: 90px;height: 92px;display: inline-block;border: 1px solid #f8f8f8;margin-right: 40px;}
.table_list .table_img img{max-width: 100%;max-height: 100%;vertical-align: middle;}

/*补充说明*/
.order_supple{}
.order_supple .supple_title{font-size: 14px;color: #333333;}
.order_supple .supple_input{box-sizing: border-box;width: 318px;height: 36px;border: 1px solid #f8f8f8;padding-left: 14px;}
.order_form .order_money{text-align: right;padding-right: 116px;}
.order_money p{font-size: 16px;color: #333;margin-bottom: 9px;}
.order_money .bold{font-weight: 600;}
.order_submit{height: 60px;line-height: 60px;background-color: #eaeaea;padding: 0 37px;text-align: right;}
.order_submit .sub_g{font-size: 18px;color: #333333;}
.order_submit .sub_y{font-size: 28px;color: #ff900d;}
.order_submit .sub_btn{background-color: #ff900d;color: #fff;padding: 8px 24px;font-size: 20px;margin-left: 96px;}
/*添加新的地址*/
.add_addr{z-index: 1002;position: fixed;top: 50%;left: 0;right: 0;margin: -230px auto 0 auto;width: 700px;height: 460px;border: 1px solid #aacc36;background-color: #eef1e4;padding: 15px 20px;}
.add_addr .add_title{font-size: 14px;color: #aacc36;border-bottom:1px solid #aacc36;line-height: 30px;position: relative; }
.add_addr .add_title .add_close{position: absolute;right: 0;color: #aacc36;}
.add_ground{margin-top: 23px;}
.add_ground .add_label{display: inline-block;width: 132px;font-size: 14px;color: #333333;text-align: right;}
.add_ground .add_control{width: 282px;box-sizing: border-box;height: 30px;border: 1px solid #eaeaea;outline: none;}
.add_ground .add_control_select{width: 108px;border-radius: 4px;height: 30px;box-sizing: border-box;outline: none;margin-right: 18px;}
.add_ground .add_code{width: 214px;}
.add_addr .add_save{padding-left: 132px;margin-top: 60px;}
.add_addr .add_save a{font-size: 16px;color: #fff;background-color: #aacc36;padding: 12px 34px;display: inline-block;border-radius: 4px;}






/*脚步*/
.foot_bootom{
	margin-top: -90px;
	margin-top: 0\9;
	z-index: 10;
	background-color: #fff;
}
.foot_bootom .foot_nav{
	text-align: center;
	min-width: 600px;
}

.foot_r{
	text-align: center;
	float: right\9;
}
.foot_r .foot_ul{
	display: inline-block;
	color: #333333;
	font-size: 14px;
	margin-bottom: 10px;
}
.foot_r .foot_ul li{
	float: left;
	padding: 0 28px;
}
.foot_r .foot_ul li:not(:last-child){
	border-right: 1px solid #929292;
}
.foot_r .foot_ul li:first-child{
	padding-left: 0;
}
.foot_middel{text-align: left;display: inline-block;}
.foot_copy{font-size: 12px;color: #383737;}
















